<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.jdt.ui.cleanUps">
		<cleanUp
			id="ch.idinfo.eclipse.beans.propertiessaveaction.properties_clean_up"
			class="ch.idinfo.eclipse.beans.fix.BeanPropertiesCleanUp">
		</cleanUp>

		<cleanUpOptionsInitializer
			class="ch.idinfo.eclipse.beans.preferences.cleanup.SaveActionCleanUpOptionsInitializer"
			cleanUpKind="saveAction">
		</cleanUpOptionsInitializer>
         
		<cleanUpConfigurationUI
			class="ch.idinfo.eclipse.beans.preferences.cleanup.BeanPropertiesTabPage"
			name="Bean properties"
			cleanUpKind="saveAction">
		</cleanUpConfigurationUI>
		
   </extension>

</plugin>
